.Logo{
    display: flex;
   align-content: end;
    margin-left: 50px;
    margin-top: 40px;
    width: 60px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: flex-end;
    align-items: start;
    gap: 100px;
    margin-right: 80px;
    font-family: 'Manrope', sans-serif;
    margin-top: -60px;
    

    
}

.navbar{
    color: black;
    text-decoration: none;
    border-top: 3px solid white;
    padding-top: 40px;
    
}

.navbar:hover{
    border-top: 3px solid blue;
    color: blue;
    border-radius: 1px;
    
}

h3{
    font-family: 'Manrope', sans-serif;
    margin-left: 48px;
    margin-top: 60px;
}

h4{
    font-family: 'Manrope', sans-serif;
    margin-left: 48px;
}

form{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
}

.fa-map-marker-alt{
background-color: #D3D3D3;
border: 1px solid #D3D3D3;
border-radius: 12px 0 0 12px;
font-size: 1.5em;
border-width: 15px;
}

.search-input{
    font-size: 1em;
    color: #fff;
    border: 1px solid #D3D3D3;
    padding: 8px 16px;
}



button{
    font-family: 'Manrope', sans-serif;
    color: white;
    background-color: #6495ED;
    border-radius: 0 12px 12px 0;
    width: 150px;
    height: 60px;

}

.sort{
    display: flex; 
  justify-content: space-evenly;
  justify-content: center;
  margin-top: -65px;
  margin-right: 500px;
  gap: 25px;

}
.fill{
    font-family: 'Manrope', sans-serif;
    border: 1px solid #D3D3D3;
    padding: 15px;
    margin: 12px;
    border-radius: 25px 25px 25px 25px;
    gap: 15px;
}

.fill:hover{
    background-color: lightblue;
}



.fa-dollar-sign{
    color: blue;
    margin-right: 15px;
    
}
.information{
    display: flex;
    justify-content: flex-start ;
    margin-left: 48px;
    gap: 15px;
}

.fa-info-circle{
    margin-top:20px;
    color: blue;
    font-size: 1.5em;
}

.titre-inf{
    margin-top: 20px;
    margin-left:-1.2px;
}


.rating{
    display: grid;
    grid-column-gap: 1px;
    
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 5px;
}

.grid-item {
    display: block;
  width: 100%;
 
  padding: 10px;
  margin-bottom: 20px;
    
  }
  
  .grid-item img {
    width: 30%;
    height: auto;
  }

  .img-rating{
    background-color: #D3D3D3;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    padding-left: 5px;
    margin-right: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -20px
  }

  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
  }
  
  /* Styles for the image */
  .card img {
    margin-top: -5px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    margin-bottom: 20px;
    height: 50%;
  }
  
  /* Styles for the heading */
  .card h4 {
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
    margin-left: 10px;

  }
  
  /* Styles for the description */
  .card p {
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
    margin-left: 10px;
  }


  .stars{
    font-size: 18px;
    color:blue;
  }

  .star {
    display: inline-block;
    margin-right: 5px; 
  }
  
  
  
 
