.Logo{
    display: flex;
   align-content: end;
    margin-left: 50px;
    margin-top: 40px;
    width: 60px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: flex-end;
    align-items: start;
    gap: 100px;
    margin-right: 80px;
    font-family: 'Manrope', sans-serif;
    margin-top: -60px;
    

    
}
a{
  color: black;
  text-decoration: none;
}

.navbarH{
    color: black;
    text-decoration: none;
    border-top: 3px solid white;
    padding-top: 40px;
    
}

.navbarH:hover{
    border-top: 3px solid blue;
    color: blue;
    border-radius: 1px;
    
}

.navbarA{
  color: black;
  text-decoration: none;
  border-top: 3px solid white;
  padding-top: 40px;
  
}

.navbarA:hover{
  border-top: 3px solid blue;
  color: blue;
  border-radius: 1px;
  
}

h3{
    font-family: 'Raleway', sans-serif;
    margin-left: 48px;
    margin-top: 60px;
}

h4{
    font-family: 'Manrope', sans-serif;
    margin-left: 48px;
}

form{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
}

.fa-map-marker-alt{
  display: flex;
  justify-content: center;
  width: 20px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 20px 0 0 20px;
  font-size: 1.2em;
  border-width: 15px;
}

.search-input{
    width: 150px;
    height: 38px;
    border: 1px solid #F2F2F2;
    padding: 8px 16px;
}



button{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    width: 130px;
    height: 55px;

}


.search-icon{
display: none;
}

.sort{
  display: flex; 
  justify-content: space-evenly;
  justify-content: center;
  margin-top: -65px;
  margin-right: 500px;
  gap: 25px;

}
.fill{
    font-family: 'Raleway', sans-serif;
    border-width: 30px;
    border: 2px solid #D3D3D3;
    padding: 15px;
    margin: 12px;
    border-radius: 30px 30px 30px 30px;
    gap: 15px;
}

.fill:hover{
    background-color: lightblue;
}



.fa-money-bill-wave{
    color: blue;
    margin-right: 15px;
    
}

.fa-male{
  color: blue;
  margin-right: 15px;
  
  
}
.fa-heart{
  color: blue;
  margin-right: 15px;
  
}
.fa-dog{
  color: blue;
  margin-right: 15px;
  
}
.information{
    display: flex;
    justify-content: flex-start ;
    margin-left: 48px;
    gap: 15px;
}

.fa-info-circle{
    margin-top:30px;
    color: blue;
    font-size: 1.5em;
}
.fa-star{
  font-size: small;
}

.titre-inf{
    margin-top: 30px;
    margin-left:-1.2px;
    margin-bottom: 50px;
    font-family: 'Manrope', sans-serif;
}


.annonce{
  display: flex;
  justify-content:space-between;
}
.heber{
  margin-top: -18px;
  font-size: larger;
}

.rating{
    display: grid;
    grid-column-gap: 1px;
    
    grid-template-columns: repeat(3, 1fr); 
}

  


  .img-rating{
    width: 1000px;
    height: 670px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    padding: 5px;
    margin-top: -20px;
    margin-left: 30px;
  }

  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 200px;
    margin: 20px auto;
    padding: 8px;
    text-align: center;
  }
  
  /* Styles for the image */
  .card img {
    margin-top: -2px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin-bottom: 20px;
    height: 65%;
  }
  
  /* Styles for the heading */
  .card h4 {
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;

  }
  
  /* Styles for the description */
  .card p {
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
    margin-left: 10px;
  }
  .fa-euro-sign{
    margin-top: 3px;
    font-size: 0.8em;
  }


  .stars{
    font-size: 18px;
    color:blue;
  }

  .star {
    display: inline-block;
    margin-right: 5px; 
    margin: 0px;
  }

  .affichage{
    margin-top: 1%;
  }



  .popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: start;
    width: 400px;
    height: 620px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    padding-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -20px;
    margin-right: 20px;
  }
  .chart{
    font-size: larger;
    margin-top: -50px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .column{
    padding: 5px;
    display: flex;
    flex-direction: column;
  }


  .fa-chart-line{
    margin-top: 65px;
    color: blue;
    margin-right: 15px;
  }

  .cardP {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 120px;
    margin: 20px auto;
    padding: 15px;
  }


  .cardP img {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px 0 0 20px;
    margin-left: -5px;
    margin-top: -5px;
    width: 40%;
    height: 110%;
  }
  

  .cardP h4 {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -130px;
    margin-left: 145px;

  }
  
  .price {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-left: 70px;
  }

  .starsP{
    margin-left: 150px;
    margin-top: 60px;
    font-size: 18px;
    color:blue;
  }

  .starsL{
    margin-left: 150px;
    margin-top: 40px;
    font-size: 18px;
    color:blue;
  }
  .starsN{
    margin-left: 150px;
    margin-top: 60px;
    font-size: 18px;
    color:blue;
  }

  .starsN i{
    display: inline-block;
    margin-right: 5px; 
    margin: -3px;
  }


  .starsL i{
    display: inline-block;
    margin-right: 5px; 
    margin: -3px;
  }
  .starsP i {
    display: inline-block;
    margin-right: 5px; 
    margin: -3px;
  }

  .Act{
    font-size: larger;
    margin-left: 20px;
  }


  .Activite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-start;

   
    padding: 50px;
    margin-top: -20px;
    margin-left: 10px;
  }

  .cardS{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 450px;
    margin-right: 50px;

  }

  .cardS img{
    display: flex;
    justify-content: flex-start;
    border-radius: 30px 30px 0 0;
    margin-top: -5px;
    width: 100%;
    height: 85%;
  }

  .cardS h4{
    display: flex;
    justify-content: flex-start;
    margin-left: 7%;
    font-family: 'Raleway', sans-serif;
  }


  footer{
    background-color: #F2F2F2;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
  }




  .foot h4{
    display: flex;
    justify-content: flex-start;
    color: black;
    font-weight: bold;
    margin-left: -80px;
    font-family: 'Raleway', sans-serif;
      
  }

  .foot h5{
    margin-left:-80px;
    font-family: 'Manrope', sans-serif;
  
  }

 
  @media screen and (max-width:992px) and (min-width:768px) {

    nav{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      justify-content: flex-end;
      align-items: start;
      gap: 100px;
      margin-right: -160px;
      font-family: 'Manrope', sans-serif;
      margin-top: -60px;
      margin-right: 50px;
    }

    .search-icon{
      display: none;
      }

    .sort{

      margin-top: -50px;
      margin-left: 420px;
    }


  .sort i{
   margin: 10px;
    color: blue;
    margin-right: 15px;
  }

  .sort strong{
    font-size: small;
    display: inline;
    margin: 10px;
    margin-left: -10px;
  }
    .fill{
        display: flex;
        flex-direction: row;
        font-family: 'Raleway', sans-serif;
        border: 2px solid #D3D3D3;
        border-radius: 30px 30px 30px 30px;
        padding: 0px;
        margin: 1px;
        padding-bottom: 0px;
        margin-left: -10px;

    }

    .annonce{
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      
    }
    .heber{
      margin-top: -50px;
      margin-bottom: 10px;
      font-size: medium;
    }
    
    .rating{
        display: grid;
        
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
        padding: 1px;
        margin-top: 50px;
    }
    
      
    
    
      .img-rating{  
        
        width: 92%;
        height: 550px;
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        padding: 15px;
        margin-top: -20px;
        margin-left: 2%;
        margin-right: 1%;
        
        
      }
    
      .card {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        width: 90%;
        height: 180px;
        margin: 20px auto;
        padding: 5px;
        margin-top: -10px;
        text-align: center;
      }
      
      /* Styles for the image */
      .card img {
        margin-top: -2px;
        border-radius: 20px 20px 0 0;
        width: 100%;
        margin-bottom: 20px;
        height: 65%;
      }
      
      /* Styles for the heading */
      .card h4 {
        display: flex;
        justify-content: flex-start;
        margin-top: -15px;
        margin-left: 10px;
        font-family: 'Raleway', sans-serif;
        font-size:15px;
    
      }
      
      /* Styles for the description */
      .card p {
        display: flex;
        justify-content: flex-start;
        margin-top: -15px;
        margin-left: 10px;
        font-size: 15px;
      }
      .fa-euro-sign{
        margin-top: 3px;
        font-size: 0.8em;
        
      }
    
    
      .stars{
        padding: 1px;
        font-size: 18px;
        color:blue;
      }
    
      .star {
        display: inline-block;
        margin-right: 5px; 
        margin: 1px;
      }
    
      .affichage{
        margin-top: 1%;
      }
    
    
    
      .popular{
        display: flex;
        justify-content: flex-start;
        justify-content: space-evenly;
        width: 93%;
        height: 210px;
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 20px;
        margin-top: 40px;
        margin-left: 2%;
        margin-right: 1%;
      }

    
      .column{
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: flex-end;
      }

      .chart{
        font-size: larger;
        margin-top: -50px;
        font-family: 'Manrope', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    
    

      .cardP {
        position: relative;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        width: 85%;
        height: 110%;
        padding: 12px;
        margin-top: -50px;
        margin-left: 4%;
        
       
       
      }
    
    
      .cardP img {
        display: flex;
        justify-content: flex-start;
        border-radius: 20px 0 0 20px;
        margin-left: -5px;
        width: 45%;
        height: 110%;
      }
      
    
      .cardP h4 {
        display: flex;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        font-size: 80%;
      
        margin-top: -108px;
        margin-left: 106px;
    
      }
      
      
      .fa-euro-sign{
        display: inline-block;
        vertical-align: middle;
      }
      .price {
        display: inline-block;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        font-size: 85%;
        margin-top: -15px;
        margin-left: 105px;
      }

      .starsP{
        position: absolute;
        bottom: -15px;
        left: 0;
        margin-left: 50%;
        margin-top: 5%;
        color:blue;
       
      }
    
      .starsL{
        position: absolute;
        bottom: -15px;
        left: 0;
        margin-left: 50%;
        margin-top: 14%;
        
        color:blue;
      }
    

      .starsL i{
        display: inline-block;
        font-size: 65%;
        margin-right: 5px; 
        margin: -3px;
      }
      .starsP i {
        display: inline-block;
        font-size: 65%;
        margin-right: 5px; 
        margin: -3px;
      }
   
      

      .Activite{
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: -20px;
        margin-left: -1%;

      }


        
      .cardS{
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 30px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        width: 160px;
        height: 280px;
        margin: 10px ;
 
  
      
      }
      
      .cardS img{
        display: flex;
        justify-content: flex-start;
        border-radius: 30px 30px 0 0;
        margin-top: -5px;
        width: 100%;
        height: 80%;
      }
    
      .cardS h4{
        display: flex;
        justify-content: flex-start;
        font-family: 'Raleway', sans-serif;
        
      }
      

      footer{
        background-color: #F2F2F2;
        display: flex;
        justify-content: flex-start;
        justify-content: space-evenly;
        width: 91%;
       

      }
  }

  @media screen and (max-width:768px)  {
    .Logo{
      display: flex;
     justify-content: flex-end;
      margin-left: 45%;
      margin-top: 40px;
      width: 60px;
  }
  
  nav{
    
     
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      justify-content: flex-start;
      align-content: flex-end;
      align-items: start;
      gap: 50px;
    
      font-family: 'Manrope', sans-serif;
      margin-top: -20px;
    
    
      
  }

  .First{
    margin-left: -30px;
  }



  .navbarH{
    border-top: none;
    font-size: 100%;
    color: blue;
    border-bottom: 3px solid blue;
    text-decoration: none;
    margin-left: -5px;
    padding: 70%;
    padding-left: 15%;
    padding-right: 38%;
 
   
    padding-bottom: 15%;
    margin-top: -40%;
  
  
    
    
    
}

.navbarA{
  border-top: none;
  width: 20%;
  color: black;
  border-bottom: 3px solid #F2F2F2;
  text-decoration: none;
  padding: 25%;
  padding-left: 15%;
  padding-right: 25%;

  margin-top: 5%;
  padding-bottom: 15%;
  margin-left: -40%;



  
  
}

  .navbar:hover{
    width: 100px;
    border-bottom: 3px solid blue;
    color: blue;
    border-radius: 1px;
  
  }

  .search-input{
    width: 200px;
    height: 38px;
    border: 1px solid #F2F2F2;
    padding: 8px 16px;
}

  .search-txt{
    display: none;
  }

  .search-icon{
    display: flex;
    margin-left: 10px;
  }

  button{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    width: 55px;
    height: 55px;

}

  

  .sort{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 50px;
    margin-left: 52%;
  }

  .information {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
   }


  .information i{
   display: flex;
   justify-content: flex-start;
   margin-right: 30px;
   margin-left: -10px;
  }

  .information h4{
    display: flex;
    justify-content: flex-start;
    margin-left:-30px ;
    margin-right: 10px;
   }

  .fill{
      width: 75%;
      display:flex;
      flex-direction: row;
      font-family: 'Raleway', sans-serif;
      border: 2px solid #D3D3D3;
      border-radius: 30px 30px 30px 30px; 
      margin-right: -10%;
      font-size: small;
  }
  .fill i{
    font-size: large;
    margin-right: -5px;
  }

  .popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: start;
    width: 99%;
    height: 550px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    margin-top: -20px;
    margin-right: 40px;
    margin-left: -10px;
  }
  .chart{
    font-size: larger;
    margin-top: -50px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .column{
    padding: 5px;
    display: flex;
    flex-direction: column;
  }


  .fa-chart-line{
    margin-top: 65px;
    color: blue;
    margin-right: 15px;
  }

  .cardP {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 120px;
    margin: 20px auto;
    padding: 15px;
    margin-top: -10px;
  }


  .cardP img {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px 0 0 20px;
    margin-left: -5px;
    margin-top: -5px;
    width: 40%;
    height: 110%;
  }
  

  .cardP h4 {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -130px;
    margin-left: 40%;

  }
  
  .price {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70px;
    left: 15%;
    margin-top: -5%;
    margin-left: 28%;
  }

  .starsP{
    position: absolute;
    top: 60px;
    left: 5%;
    margin-left: 40%;

   
    font-size: 18px;
    color:blue;
  }

  .starsL{
    position: absolute;
    top: 80px;
    left: 0.5%;
    margin-left: 45%;

    font-size: 18px;
    color:blue;
  }
  .starsN{
    position: absolute;
    top: 60px;
    left: 0.5%;
    margin-left: 45%;

    font-size: 18px;
    color:blue;
  }

  .starsL i{
    display: inline-block;
    margin-right: 5px; 
    margin: -3px;
  }
  .starsP i {
    display: inline-block;
    margin-right: 5px; 
    margin: -3px;
  }
  .starsN i {
    display: inline-block;
    margin-right: 5px; 
    margin: -3px;
  }

  .annonce{
    display: flex;
    flex-direction: column-reverse;
  
  }
  .heber{
    margin-top: -18px;
    margin-bottom: 40px;
    font-size: larger;
    margin-left: -50px;
  }
  
  .rating{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      justify-content: space-evenly;
      align-content: flex-start;
      margin-left: -5px;
      gap: 1px;

  }

  .heber{
    margin-left: 1px;
  }
  
    .img-rating{
      margin-top: 1%;
      background:none;
      border: none;
      width: 100%;
  
      margin-left: -5px;
    }
  
    .card {
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 30px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      width: 80%;
      height: 230px;
      margin-top: -10px;
    }
    
    /* Styles for the image */
    .card img {
      margin-top: -2px;
      border-radius: 20px 20px 0 0;
      width: 100%;
      margin-bottom: 20px;
      height: 65%;
    }
    
    /* Styles for the heading */
    .card h4 {
      display: flex;
      justify-content: flex-start;
      margin-top: -15px;
      margin-left: 10px;
      font-family: 'Raleway', sans-serif;
  
    }
    
    /* Styles for the description */
    .card p {
      display: flex;
      justify-content: flex-start;
      margin-top: -15px;
      margin-left: 10px;
    }
    .fa-euro-sign{
      margin-top: 3px;
      font-size: 0.8em;
    }
  
  
    .stars{
      font-size: 18px;
      color:blue;
    }
  
    .star {
      display: inline-block;
      margin-right: 5px; 
      margin: 0px;
    }
  
    .affichage{
      display: none;
    }

    .Act{
      margin-bottom:-50px;
      font-size: larger;
      margin-left: 20px;
    }

    .actM{
      margin-top:1000px;

      margin-left: -7%;
  
      
      
    }
  
  
    .Activite{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
     
      
    
      margin-top: -20px;
    }
  
    .cardS{
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 30px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      width: 105%;
      height: 230px;
      margin: 20px auto;
      text-align: center;
      
    }
  
    .cardS img{
      display: flex;
      justify-content: flex-start;
      border-radius: 30px 30px 0 0;
      margin-top: -5px;
      width: 100%;
      height: 75%;
    }
  
    .cardS h4{
      display: flex;
      justify-content: flex-start;
      margin-left: 7%;
      font-family: 'Raleway', sans-serif;
    }
    
    footer{
      background-color: #F2F2F2;
      display: flex;
      flex-direction: column;
      width:103.5%;
      margin-top: 6%;
      margin-left:-7px;
 
    }
  
  
  
  
    .foot h4{
      display: flex;
      justify-content: flex-start;
      color: black;
      font-weight: bold;
      margin-left: 40px;
      font-family: 'Raleway', sans-serif;
        
    }
  
    .foot h5{
      display: flex;
      justify-content: flex-start;
      font-family: 'Manrope', sans-serif;
      margin-left: 40px;
    
    }
  

  }




  
  
 
