.Logo{
    display: flex;
   align-content: end;
    margin-left: 50px;
    margin-top: 40px;
    width: 60px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: flex-end;
    align-items: start;
    gap: 100px;
    margin-right: 80px;
    font-family: 'Manrope', sans-serif;
    margin-top: -60px;
    

    
}
a{
  color: black;
  text-decoration: none;}

.navbar{
    color: black;
    text-decoration: none;
    border-top: 3px solid white;
    padding-top: 40px;
    
}

.navbar:hover{
    border-top: 3px solid blue;
    color: blue;
    border-radius: 1px;
    
}

h3{
    font-family: 'Raleway', sans-serif;
    margin-left: 48px;
    margin-top: 60px;
}

h4{
    font-family: 'Manrope', sans-serif;
    margin-left: 48px;
}

form{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
}

.fa-map-marker-alt{
  display: flex;
  justify-content: center;
  width: 20px;
  padding-top: 5px;
  padding-left: 5px;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 20px 0 0 20px;
  font-size: 1.2em;
  border-width: 15px;
}

.search-input{
    width: 150px;
    height: 38px;
    border: 1px solid #F2F2F2;
    padding: 8px 16px;
}



button{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    color: white;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    width: 130px;
    height: 55px;

}

.sort{
  display: flex; 
  justify-content: space-evenly;
  justify-content: center;
  margin-top: -65px;
  margin-right: 500px;
  gap: 25px;

}
.fill{
    font-family: 'Raleway', sans-serif;
    border-width: 30px;
    border: 2px solid #D3D3D3;
    padding: 15px;
    margin: 12px;
    border-radius: 30px 30px 30px 30px;
    gap: 15px;
}

.fill:hover{
    background-color: lightblue;
}



.fa-money-bill-wave{
    color: blue;
    margin-right: 15px;
    
}

.fa-male{
  color: blue;
  margin-right: 15px;
  
  
}
.fa-heart{
  color: blue;
  margin-right: 15px;
  
}
.fa-dog{
  color: blue;
  margin-right: 15px;
  
}
.information{
    display: flex;
    justify-content: flex-start ;
    margin-left: 48px;
    gap: 15px;
}

.fa-info-circle{
    margin-top:30px;
    color: blue;
    font-size: 1.5em;
}

.titre-inf{
    margin-top: 30px;
    margin-left:-1.2px;
    margin-bottom: 50px;
    font-family: 'Manrope', sans-serif;
}

.annonce{
  display: flex;
  justify-content:space-between;
}
.heber{
  margin-top: -18px;
  font-size: larger;
}

.rating{
    display: grid;
    grid-column-gap: 1px;
    
    grid-template-columns: repeat(3, 1fr); 
}

  


  .img-rating{
    width: 1000px;
    height: 670px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    padding: 5px;
    margin-top: -20px;
    margin-left: 30px;
  }

  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 200px;
    margin: 20px auto;
    padding: 8px;
    text-align: center;
  }
  
  /* Styles for the image */
  .card img {
    margin-top: -2px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin-bottom: 20px;
    height: 65%;
  }
  
  /* Styles for the heading */
  .card h4 {
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;

  }
  
  /* Styles for the description */
  .card p {
    display: flex;
    justify-content: flex-start;
    margin-top: -15px;
    margin-left: 10px;
  }
  .fa-euro-sign{
    margin-top: 3px;
    font-size: 0.8em;
  }


  .stars{
    font-size: 18px;
    color:blue;
  }

  .star {
    display: inline-block;
    margin-right: 5px; 
  }

  .affichage{
    margin-top: 1%;
  }



  .popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: start;
    width: 400px;
    height: 620px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    padding-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -20px;
    margin-right: 20px;
  }
  .chart{
    font-size: larger;
    margin-top: -50px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .column{
    padding: 5px;
    display: flex;
    flex-direction: column;
  }


  .fa-chart-line{
    margin-top: 65px;
    color: blue;
    margin-right: 15px;
  }

  .cardP {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 120px;
    margin: 20px auto;
    padding: 15px;
  }


  .cardP img {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px 0 0 20px;
    margin-left: -5px;
    margin-top: -5px;
    width: 40%;
    height: 110%;
  }
  

  .cardP h4 {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -130px;
    margin-left: 145px;

  }
  
  .price {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-left: 70px;
  }

  .starsP{
    margin-left: 150px;
    margin-top: 50px;
    font-size: 18px;
    color:blue;
  }

  .starsL{
    margin-left: 150px;
    margin-top: 30px;
    font-size: 18px;
    color:blue;
  }

  .Act{
    font-size: larger;
    margin-left: 20px;
  }


  .Activite{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -20px;
    margin-right:-20px ;
    padding: 50px;
    margin-top: -20px;
  }

  .cardS{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 450px;
    margin: 20px auto;
    text-align: center;
  }

  .cardS img{
    display: flex;
    justify-content: flex-start;
    border-radius: 30px 30px 0 0;
    margin-top: -5px;
    width: 100%;
    height: 85%;
  }

  .cardS h4{
    display: flex;
    justify-content: flex-start;
    margin-left: 7%;
    font-family: 'Raleway', sans-serif;
  }


  footer{
    background-color: #F2F2F2;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
  }




  .foot h4{
    display: flex;
    justify-content: flex-start;
    color: black;
    font-weight: bold;
    margin-left: -80px;
    font-family: 'Raleway', sans-serif;
      
  }

  .foot h5{
    margin-left:-80px;
    font-family: 'Manrope', sans-serif;
  
  }

 
  
  
  
 
